<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.voteonlinebruh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">
        <activity android:name=".activities.ResultsSimplified"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ResultsDetailed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ResultList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ManageOptions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ManageElection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.PrivateElection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PublicElectionList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PublicElectionEntryPoint"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Thanks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Demo"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".activities.OtpPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VotingPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VotingInstructions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LandingPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WaitScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

</manifest>